﻿
@model IEnumerable<string>

<a class="btn btn-block btn-secondary"
   asp-action="List"
   asp-controller="Service"
   asp-route-category="">
    Все категории
</a>

@foreach (string category in Model)
{
    <a class="btn btn-block
       @(category == ViewBag.SelectedCategory ? "btn-primary" : "btn-secondary")"
       asp-action="List"
       asp-controller="Service"
       asp-route-category="@category"
       asp-route-servicePage="1">
        @category
    </a>
}
