/* General stylization */

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 100%;
  box-sizing: border-box;
  background: #CFDFE8;
  user-select: none;
}

h1 {
  font-size: 6em;
  font-weight: normal;
  margin: 1em 1em;
}

h2 {
  margin: 1em 0;
  font-size: 3em;
  font-weight: normal;
  text-transform: capitalize;
}

p {
  margin: 0;
  font-family: Open Sans;
  font-size: 1.25em;
  color: #56576B;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
}

.hover:hover {
  cursor: pointer;
}

/* Header stylization */

header {
  position: sticky;
  top: 0;
  display: flex;
  flex-flow: column;
  align-items: stretch;
  color: #fff;
  text-transform: capitalize;
}

.right {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
  margin-right: 3%;
}

.top, .bottom {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.left {
  margin-left: 3%;
}

/* Upper subheader stylization */

.top {
  height: 5vh;
  background: #00367b;
  font-size: 1.1em;
  font-weight: 600;
  text-transform: uppercase;
}

.top>* {
  width: 20%;
}

.top>.left {
  display: flex;
  align-items: center;
}

.top>.left>.location-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.top .header-link {
  color: #fff;
}

/* Lower subheader stylization */

.bottom {
  height: 8vh;
  background: rgba(1, 70, 150, 0.7);
  font-size: 2.25em;
}

.bottom .header-link {
  color: #E9EBED;
  font-weight: 600;
}

.bottom>.left {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bottom>.left>.logo-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #CFDFE8;
  font-weight: bold;
}

.bottom>.right {
  justify-content: space-between;
  width: 40%;
}

/* Footer stylization */

footer {
  display: flex;
  flex-flow: column;
  background: #56576B;
}

.upper-footer {
  display: flex;
  justify-content: space-around;
  margin: 10px;
}

.item-wrapper {
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 20%;
}

.links {
  font-size: 1em;
  text-transform: uppercase;
  color: #E9EBED;
}

.upper-footer ul {
  display: flex;
  padding: 0;
  list-style: none;
}

.useful-links {
  display: flex;
  flex-flow: column;
  align-items: space-evenly;
  justify-content: center;
}

.footer-link {
  color: #BFBFCA;
  text-transform: capitalize;
}

.concrete-margin{
    margin-top: 100px;
}

.social-links img {
  height: 2em;
  width: 2em;
}

.social-links {
  flex-flow: row;
  justify-content: space-evenly;
  width: 60%;
  margin-top: 2em;
}

.copyright {
  display: flex;
  justify-content: center;
  color: #ADADAE;
  padding: 1em;
}

/* Button stylization */

button {
  display: inline-block;
  font: 700 1.25em 'Montserrat';
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  padding-top: 6px;
  cursor: pointer;
  border: none;
  background: #109bce;
  border-radius: 5px;
  box-shadow: inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #07526e, 0px 10px 5px #999;
}

button:active {
  top:3px;
  box-shadow: inset 0px 1px 0px #2ab7ec, 0px 2px 0px 0px #07526e, 0px 5px 3px #999;
}

button:before {
  line-height: 1em;
  font-weight: normal;
  color: #fff;
  width:85px;
  height:90px;
  display:block;
  position:absolute;
  padding-top:10px;
  top:10px;
}

button:active:before {
  top: 7px;
  font-size: 50px;
  text-shadow: 0px 3px 0px #07526e, 0px 5px 1px #07526e;
}

/* Adaptivity */

@media screen and (max-width: 768px) {
  .top>*, .bottom>* {
    font-size: 75%;
  }

  .top>* {
    width: 40%;
  }
  
  .bottom>.right {
    width: 60%;
  }

  body {
    font-size: 70%;
  }

  .item-wrapper {
    width: 40%;
  }

  .social-links img {
    height: 1.5em;
    width: 1.5em;
  }

  .social-links {
    flex-flow: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    margin: 0;
  }

  button {
    margin: 1em;
  }
}