/* Color Theme Swatches in Hex */
.Theme1-1-hex { color: #56576B; }
.Theme1-2-hex { color: #00367B; }
.Theme1-3-hex { color: #1CA6A6; }
.Theme1-4-hex { color: #CFDFE8; }
.Theme1-5-hex { color: #E9EBED; }

/* Color Theme Swatches in RGBA */
.Theme1-1-rgba { color: rgba(86, 87, 107, 1); }
.Theme1-2-rgba { color: rgba(0, 54, 123, 1); }
.Theme1-3-rgba { color: rgba(28, 166, 166, 1); }
.Theme1-4-rgba { color: rgba(207, 223, 232, 1); }
.Theme1-5-rgba { color: rgba(233, 235, 237, 1); }