/* Main stylization */

main {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: stretch;
}

.section-heading {
  text-align: center;
  color: #00367B;
}

/* Stage stylization */

.stage {
    height: 100vh;
    position: relative;
    top: -13vh;
    z-index: -10;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    background: url(../img/stage-img.jpg) no-repeat center/cover;
    color: #fff;
    text-transform: none;
    text-shadow: 3px 3px 13px #0f0f0a;
}

h1 {
  position: relative;
  top: -15%;
  margin: 0;
}

.text-concrete {
    text-transform: none !important;
}
/* Benefits section stylization */

.benefits {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  color: #00367B;
}

.benefit-title {
  font-size: 2.25em;
}

.benefits-list {
  display: flex;
  flex-flow: column;
  width: 50%;
  background: #fff;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
  padding: 1%;
}

.benefit {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-around;
  margin: 2%;
}

.benefit-text {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-around;
  width: 60%;
}

.benefit-image {
  height: 12.5em;
  width: 12.5em;
  box-shadow: 0px 0px 8px rgba(0, 54, 123, 0.5);
  border-radius: 100px;
}

.benefit-image.smart {background: url(../img/smart.jpg) no-repeat center/cover;}

.benefit-image.cheap {background: url(../img/2-benefit-img.jpg) no-repeat center/cover;}

.benefit-image.easy {background: url(../img/3-benefit-img.jpeg) no-repeat center/cover;}

/* Slideshow section stylization */

.slideshow {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  padding: 1% 0;
  height: 92vh;
}

.slideshow-container {
  width: 100%;
	height: 85%;
	margin: 1% 0;
  position: relative;
  z-index: -1;
  overflow: hidden;
}

.slideshow-container:hover {
  animation-play-state: paused;
}

.slide {
	width: 100%;
	height: 100%;
  position: absolute;
  z-index: -1;
	top: 0;
  left: 0;
  animation: slide 24s linear infinite;
}

.slide1 { 
  background: url(../img/nissan-leaf-2.jpg) no-repeat center/cover;
  animation-delay: 18s;
 }
 .slide2 { 
  background: url(../img/renault-captur-2020.jpg) no-repeat center/cover;
  animation-delay: 12s;
 }
 .slide3 { 
  background: url(../img/nissan-leaf-1.jpg) no-repeat center/cover;
  animation-delay: 6s;
 }
 .slide4 { 
  background: url(../img/chevrolet-bolt.jpg) no-repeat center/cover;
  animation-delay: 0s;
 }

 @keyframes slide {
  from {
   top: 0;
   left: 0;
  }
  12.5% {
   transform: translate(0, 0);
  }
  25% {
   transform: translate(-100%, 0);
  }
  36% {
   transform: translate(-100%, 100%);
  }
  37% {
   transform: translate(100%, 100%);
  }
  87.5% {
   transform: translate(100%, 0);
  }
  to {
   transform: (0, 0);
  }
 }

 /* Adaptivity */

 @media screen and (max-width: 768px) {
  h1 {
    font-size: 4em;
  }

  .benefits-list {
    width: 80%;
  }

  .benefit {
    display: flex;
    flex-flow: column;
    justify-content: center;
  }

  .benefit-text {
    justify-content: center;
    width: 80%;
  }
 }