﻿
@{
    ViewData["Title"] = "About";
    Layout = "~/Views/_Layout.cshtml";
}

<h2>History of FlexCar</h2>
<section class="history-pic pic-1"></section>
<section>
    <p>
        One night, in 2019, sitting in the kitchen in Athens,
        Anton Klymenko and Oleg Sergeev decided to call their former classmate at California State University,
        Ernest Halimov. He lived for several years in Milan, where in recent years car sharing has started to develop
        very rapidly. Inspired by the experience of Milan, they decided to try to do it in Athens. Athens, at that time,
        was suffocating from traffic jams, and paid parking had just begun to appear.
    </p>
    <p>
        They were convinced that the idea would take root in Athens and would have a beneficial effect on the transport
        environment, as the average Athenian used his personal car only 4% of the time, and 96% of the car was idle
        with dead weight, but at the same time 600 new cars appeared every day on Athens’s crowded roads cars.
        It became clear: this problem should have some kind of solution, it's time for car sharing.
    </p>
    <p>But the dream was destined to come true only at the end of 2019, when it became possible to finance the project.</p>
</section>
<h2>About FlexCar</h2>
<section class="history-pic pic-2"></section>
<section>
    <p>
        FlexCar is a company that provides a service that allows people to find affordable cars near them and rent them
        through a mobile application, and very quickly, conveniently and inexpensively. The company was founded in 2019 by
        Oleg Sergeev, Ernest Halimov and Anton Klymenko, who together received an MBA from California State University.
        From the first day the service was launched, the company exhibited 100 cars in Athens.
    </p>
    <div class="row">
        <p>
            The service works according to the all-inclusive concept, which means that parking, gasoline and insurance
            are already included in the price of the service. FlexCar works with both private and corporate clients, and
            also pays great attention to working with universities.
        </p>
        <p>
            The main value of the company is technological effectiveness and openness, therefore the company has a young and ambitious
            team, the average age of the employee is 25 years.
        </p>
        <p>Own IT platform allows you to provide quality service and quickly respond to customer feedback.</p>
    </div>
</section>
<h2>Founders</h2>
<section>
    <div class="founder">
        <p class="name">Oleg Sergeev</p>
        <p>
            He is responsible for marketing strategy and IT infrastructure. For 15 years he oversaw marketing communications in large IT companies,
            participated in promoting product portfolios of Intel, Microsoft, IBM, etc. In 2009, he received an MBA from
            California State University, East Bay. In 2013, he graduated from the Skolkovo Startup Academy.
        </p>
        <p><a href="mailto:osergeev@flexcar.com">osergeev@flexcar.com</a></p>
    </div>
    <div class="founder">
        <p class="name">Anton Klymenko</p>
        <p>
            He is responsible for corporate sales, relationships with key partners, as well as for the legal unit. He has many years of experience
            in the investment and banking sectors. Since 2012, he has been managing his own business. In 2009, he received an
            MBA from California State University, East Bay.
        </p>
        <p><a href="mailto:aklymenko@flexcar.com">aklymenko@flexcar.com</a></p>
    </div>
    <div class="founder">
        <p class="name">Ernest Halimov</p>
        <p>
            He is responsible for the financial unit and operations of the company, investor relations (IR) and GR.
            Previously, he managed projects at VimpelCom, worked for many years in an investment company, and was responsible
            for the investment analysis of projects. In 2009, he received an MBA from California State University, East Bay.
            In 2013, he graduated from the SDA Bocconi MA.
        </p>
        <p><a href="mailto:ehalimov@flexcar.com">ehalimov@flexcar.com</a></p>
    </div>
</section>
