﻿@{
    ViewData["Title"] = "Contacts";
    Layout = "~/Views/_Layout.cshtml";
}




<section class="stage-contact">
    <h1>contact us!</h1>
</section>
<section class="contacts">
    <div class="contact-info">
        <h2>contact information:</h2>
        <p>10672, Athens, 41 Akademias st.</p>
        <p><a href="tel:380542281488">+38 (054) 228-14-88</a></p>
    </div>
    <div class="partnership-info">
        <h2>for partnership:</h2>
        <div class="partnership">
            <div class="photo">
                <img src="~/img/gigachad.jpg" alt="gigachad">
            </div>
            <div class="description">
                <p class="name">Ernest Halimov</p>
                <p>Managing partner</p>
                <p><a href="mailto:info@flexcar.com?subject=Partnership Issue">info@mastertech.com</a></p>
            </div>
        </div>
    </div>
</section>
<section class="map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3144.8885669211954!2d23.733459215323553!3d37.97972977972262!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14a1bd3a97ea0979%3A0x77f05fe50f0d120f!2zRmxleENhciAtIFTOvyDOsc-Fz4TOv866zq_Ovc63z4TOvyDPgM6_z4UgzrjOtc-CIM6zzrnOsSDPjM-Dzr8gz4TOvyDOuM61z4Iu!5e0!3m2!1sru!2sua!4v1589870895950!5m2!1sru!2sua" frameborder="0" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
</section>

