﻿
@{
    ViewData["Title"] = "Help";
    Layout = "~/Views/_Layout.cshtml";
}

<h1>MasterTech Help Center</h1>
<section>
    <div class="row">
        <div class="cell">
            <p class="name">About Service</p>
            <p><a href="about.html">History & Philosophy</a></p>
            <p><a href="contacts.html">Quick way to Contact Us</a></p>
        </div>
        <div class="cell">
            <p class="name">Registration</p>
            <p><a href="registration.html">How to Register</a></p>
            <p><a href="#">What are the Requirements</a></p>
        </div>
        <div class="cell">
            <p class="name">Rates, Rent, Fines</p>
            <p><a href="#">Rental price in Athens</a></p>
            <p><a href="#">Long-term Rental</a></p>
        </div>
    </div>
    <div class="row">
        <div class="cell">
            <p class="name">Force Majeure</p>
            <p><a href="#">Car evacuated</a></p>
            <p><a href="#">Vehicle damage</a></p>
        </div>
        <div class="cell">
            <p class="name">Insurance</p>
            <p><a href="#">Insurance</a></p>
            <p><a href="#">Extended CASCO</a></p>
        </div>
        <div class="cell">
            <p class="name">How to refuel a car</p>
            <p><a href="#">What type of gasoline</a></p>
            <p><a href="#">You refueled a car</a></p>
        </div>
    </div>
</section>
