﻿
@{
    ViewData["Title"] = "MasterTech";
    Layout = "~/Views/_Layout.cshtml";
}



<section class="stage">
    <h1>Сохраним ваш автомобиль здоровым!</h1>
</section>

<section class="benefits">
    <div class="section-heading"><h2>наши преимущества</h2></div>
    <div class="benefits-list">
        <div class="benefit">
            <div class="benefit-image smart"></div>
            <div class="benefit-text">
                <div class="benefit-title">Мы - специалисты</div>
                <div class="benefit-description">
                    <p> - В нашей команде - профессионалы во всех сферах;</p>
                    <p> - Тысячи довольных клиентов и обслуженых автомобилей;</p>
                    <p> - Будьте уверены, вы получите качественные услуги по ремонту и обслуживанию всех агрегатов вашего железного коня.</p>
                </div>
            </div>
        </div>
        <div class="benefit">
            <div class="benefit-image cheap"></div>
            <div class="benefit-text">
                <div class="benefit-title">У нас - выгоднее</div>
                <div class="benefit-description">
                    <p> - Мы не выполняем работы, которые не нужны нашему клиенту;</p>
                    <p> - Экономим на прямой поставке деталей до 50%.</p>
                </div>
            </div>
        </div>
        <div class="benefit">
            <div class="benefit-image easy"></div>
            <div class="benefit-text">
                <div class="benefit-title">С нами просто</div>
                <div class="benefit-description"><p>Установим контакт со всеми клиентами прямо на этом сайте.</p></div>
            </div>
        </div>
    </div>
</section>
<section class="slideshow">
    <div class="section-heading"><h2 class="text-concrete">Ждем Вас для обслуживания и ремонта!</h2></div>
    <div class="slideshow-container">
        <div class="slide slide1"></div>
        <div class="slide slide2"></div>
        <div class="slide slide3"></div>
        <div class="slide slide4"></div>
    </div>
    <a asp-action="Categories"><button>Больше деталей</button></a>
</section>
