﻿@model CartIndexViewModel

@{
    ViewData["Title"] = "ServiceList";
    Layout = "~/Views/_ServiceLayout.cshtml";
}

<h2>Ваш заказ</h2>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Item</th>
            <th class="text-right">Стоимость услуг</th>
            <th class="text-right">За услугу</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var line in Model.Cart.Lines)
        {
            <tr>
                <td class="text-left">@line.Service.Name</td>
                <td class="text-right">@line.Service.Price.ToString("c")</td>
                <td class="text-right">
                    @((line.Service.Price).ToString("c"))
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="2" class="text-right">Всего:</td>
            <td class="text-right">
                @Model.Cart.ComputeTotalValue().ToString("c")
            </td>
        </tr>
    </tfoot>
</table>

<div class="text-center">
    <a class="btn btn-primary" href="@Model.ReturnUrl">Назад к услугам</a>
</div>